<body class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="../../../assets/img/imglogin.png" width="100%" alt="">
            </div>
            <div class="col-12 col-md-6 mt-5">
                <h1 class="text-center fonttitle">Registro</h1>
                <form>
                    <div class="row mt-5">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="fontlabel" style="border-color: black;">Correo eléctronico*</label>
                                <input type="text" class="form-control" placeholder="Username"
                                    value="Ejemplo@gmail.com" 
                                    style="border-color: black; border-width: 10%; background-color: #D9D9D9;" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="fontlabel" style="border-color: black;">Contraseña*</label>
                                <input type="text" class="form-control" placeholder="Username"
                                    value="Escribe una contraseña"
                                    style="border-color: black; border-width: 10%; background-color: #D9D9D9;" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="fontlabel" style="border-color: black;">Confirmar Contraseña*</label>
                                <input type="text" class="form-control" placeholder="Username"
                                    value="Vuelve a escribir la contraseña"
                                    style="border-color: black; border-width: 10%; background-color: #D9D9D9;" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="fontlabel">Teléfono*</label>
                                <input type="text" class="form-control" placeholder="Home Address"
                                    value="7773456745"
                                    style="border-color: black; border-width: 10%; background-color: #D9D9D9;" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="fontlabel">Código postal*</label>
                                <input type="text" class="form-control" placeholder="City" value="62507"
                                    style="border-color: black; border-width: 10%; background-color: #D9D9D9;" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mt-5 text-center">
                            <button type="submit" class="btn btn-warning btn-register"
                            style="color: white; font-weight: 550">Registrar</button>
                        </div>
                        <div class="mt-4 text-center register">
                            <h5>¿Ya tienes una cuenta? <span style="color: #E6AC00;">Iniciar sesión</span></h5>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
