<div class="container mt-4 pt-4 ">
    <div class="card shadow">
        <div class="card-header">
          <div class="row">
            <div class="col-12 d-flex align-items-end justify-content-end">
                <mat-icon>account_circle</mat-icon>
                <span>20203tn063@utez.edu.mx</span>
            </div>
          </div>
        </div>
        <div class="card-body" style="padding: 0rem;">
          <div class="row" >
            <div class="col-2" style="z-index: 1 !important">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark adjustableSize"  >
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none ">
                      <img src="assets/img/springfood.png" class="hideSmallDevice"alt="Logo" width="100%" style="filter: invert(96%) sepia(92%) saturate(29%) hue-rotate(359deg) brightness(107%) contrast(100%);">  
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item  mx-auto">
                                <button class="sendEmail pt-2" style=" font-family: 'Montserrat'; border-radius: 13px; border-color:#4fcb7b">
                                <div class="row align-items-start">
                                    <div class="col-2">
                                        <mat-icon>mail</mat-icon>
                                    </div>
                                    <div class="col-9 ps-0 hideSmallDevice" > 
                                            <span >Redactar</span>
                                        </div>
                                    </div>
                                </button>
                        </li>
                    </ul>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item ">
                            <a href="#" class="nav-link text-white reactHoverSidebar" aria-current="page">
                                <div class="row align-items-start">
                                    <div class="col-2 text-end">
                                        <mat-icon>inbox</mat-icon>
                                    </div>
                                    <div class="col-8 ps-0 hideSmallDevice" style="position: relative;"> 
                                        <span >Bandeja</span>
                                        <span class="badge badgeReactHoverSidebar" style="position: absolute; right: 0; top:auto; bottom: auto">2</span>
                                    </div>
                                </div>
                            </a>
                          </li>
                      <li class="nav-item ">
                        <a href="#" class="nav-link text-white reactHoverSidebar" aria-current="page">
                            <div class="row align-items-start">
                                <div class="col-2 text-end">
                                    <mat-icon>star</mat-icon>
                                </div>
                                <div class="col-8 ps-0 hideSmallDevice"> 
                                    <span >Destacados</span>
                                </div>
                            </div>
                        </a>
                      </li>
                      <li class="nav-item ">
                        <a href="#" class="nav-link text-white reactHoverSidebar" aria-current="page">
                            <div class="row align-items-start">
                                <div class="col-2 text-end">
                                    <mat-icon>access_time</mat-icon>
                                </div>
                                <div class="col-8 ps-0 hideSmallDevice" > 
                                    <span >Pospuestos</span>
                                </div>
                            </div>
                        </a>
                      </li>
                      <li class="nav-item ">
                        <a href="#" class="nav-link text-white reactHoverSidebar" aria-current="page">
                            <div class="row align-items-start">
                                <div class="col-2 text-end">
                                    <mat-icon>mail</mat-icon>
                                </div>
                                <div class="col-8 ps-0 hideSmallDevice" > 
                                    <span >Enviados</span>
                                </div>
                            </div>
                        </a>
                      </li>
                      <li class="nav-item ">
                        <a href="#" class="nav-link text-white reactHoverSidebar" aria-current="page">
                            <div class="row align-items-start">
                                <div class="col-2 text-end">
                                    <mat-icon>insert_drive_file</mat-icon>
                                </div>
                                <div class="col-8 ps-0 hideSmallDevice" style="position: relative;"> 
                                    <span >Borradores</span>
                                    <span class="badge badgeReactHoverSidebar" style="position: absolute; right: 0; top:auto; bottom: auto">3</span>
                                </div>
                            </div>
                        </a>
                      </li>
                      <li class="nav-item ">
                        <a href="#" class="nav-link text-white reactHoverSidebar" aria-current="page">
                            <div class="row align-items-start">
                                <div class="col-2 text-end">
                                    <mat-icon>delete</mat-icon>
                                </div>
                                <div class="col-8 ps-0 hideSmallDevice" > 
                                    <span >Papelera</span>
                                </div>
                            </div>
                        </a>
                      </li>
                      <li class="nav-item ">
                        <a href="#" class="nav-link text-white reactHoverSidebar" aria-current="page">
                            <div class="row align-items-start">
                                <div class="col-2 text-end">
                                    <mat-icon>info</mat-icon>
                                </div>
                                <div class="col-8 ps-0 hideSmallDevice" style="position: relative;"> 
                                    <span >Spam</span>
                                    <span class="badge badgeReactHoverSidebar" style="position: absolute; right: 0; top:auto; bottom: auto">1</span>
                                </div>
                            </div>
                        </a>
                      </li>
                    </ul>
                    <hr>
                    <small class="hideSmallDevice">Etiquetas</small>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item ">
                            <a href="#" class="nav-link text-white " aria-current="page">
                                <div class="row align-items-start" style="color: #ffd24d;">
                                    <div class="col-2 text-end">
                                        <mat-icon >label</mat-icon>
                                    </div>
                                    <div class="col-8 ps-0 hideSmallDevice"> 
                                        <span >Importante</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="#" class="nav-link text-white " aria-current="page">
                                <div class="row align-items-start" style="color: #6cb9f1;">
                                    <div class="col-2 text-end">
                                        <mat-icon>label</mat-icon>
                                    </div>
                                    <div class="col-8 ps-0 hideSmallDevice"> 
                                        <span >Tarea</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="#" class="nav-link text-white " aria-current="page">
                                <div class="row align-items-start" style="color: #f16c7a;">
                                    <div class="col-2 text-end">
                                        <mat-icon >label</mat-icon>
                                    </div>
                                    <div class="col-8 ps-0 hideSmallDevice"> 
                                        <span >Negocio</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                  </div>
            </div>
            <div class="col-10 " style="z-index: 0 !important; position: relative;   ">
                <div class="d-flex flex-column flex-shrink-0 p-3  adjustableSizeContent" >
                    <div class="row">
                        <div class="col-12 textAdjustable" >
                            <h2>Bandeja de entrada</h2>
                            <hr>
                        </div>
                        <div class="col-12"  style="background-color: #ffffff; ">
                            <div class="container my-3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mail-option">
                                                <div class="btn-group">
                                                    <mat-icon>check_box_outline_blank</mat-icon>
                                                    <mat-icon>keyboard_arrow_down</mat-icon>
                                                </div>

                                            <div class="btn-group">
                                                <mat-icon>refresh</mat-icon>
                                            </div>
                                            <div class="btn-group">
                                                <mat-icon>more_vert</mat-icon>
                                            </div>

                                            <ul class="unstyled inbox-pagination">
                                                <li><span>1-50 de 100</span></li>
                                                <li>
                                                    <button style="background: #FFBF00; color: white;  font-family: 'Montserrat'; border-radius: 13px;  border-color: #FFBF00;">
                                                        <mat-icon>keyboard_arrow_left</mat-icon>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button style="background: #FFBF00; color: white;  font-family: 'Montserrat'; border-radius: 13px;  border-color: #FFBF00;">
                                                        <mat-icon>keyboard_arrow_right</mat-icon>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 contentResponsive">
                                        <div class="table table-responsive">
                                            <table class=" table-inbox table-hover">
                                                <tbody>
                                                    <tr class="unread">
                                                        <td class="inbox-small-cells">
                                                            <input type="checkbox" class="mail-checkbox">
                                                        </td>
                                                        <td class="inbox-small-cells"><mat-icon style="color: #D9D9D9;">star</mat-icon>
                                                        </td>
                                                        <td class="view-message  dont-show">GitHub </td>
                                                        <td class="view-message ">[GitHub] Please verify your device</td>
                                                        <td class="view-message  inbox-small-cells"><mat-icon>attachment</mat-icon></td>
                                                        <td class="view-message  text-right">14:30</td>
                                                    </tr>
                                                    <tr class="unread">
                                                        <td class="inbox-small-cells">
                                                            <input type="checkbox" class="mail-checkbox">
                                                        </td>
                                                        <td class="inbox-small-cells"><mat-icon style="color: #ffbf00;">star</mat-icon>
                                                        </td>
                                                        <td class="view-message dont-show">Diego Villalobos</td>
                                                        <td class="view-message">Integrales triples</td>
                                                        <td class="view-message inbox-small-cells"><mat-icon>attachment</mat-icon></td>
                                                        <td class="view-message text-right">11 Dic</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td class="inbox-small-cells">
                                                            <input type="checkbox" class="mail-checkbox">
                                                        </td>
                                                        <td class="inbox-small-cells"><mat-icon style="color: #D9D9D9;">star</mat-icon>
                                                        </td>
                                                        <td class="view-message dont-show">
                                                            Notificaciones Utez</td>
                                                        <td class="view-message">Pago cuatrimestre Enero- Abril
                                                        </td>
                                                        <td class="view-message inbox-small-cells"></td>
                                                        <td class="view-message text-right">8 Dic</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td class="inbox-small-cells">
                                                            <input type="checkbox" class="mail-checkbox">
                                                        </td>
                                                        <td class="inbox-small-cells"><mat-icon style="color: #D9D9D9;">star</mat-icon>
                                                        </td>
                                                        <td class="view-message dont-show">
                                                            José Antonio Pérez Carrillo (Classroom)</td>
                                                        <td class="view-message">Fecha de entrega mañana: "Week 14 - TAREA INTEGRADORA - VIDEO (Final Project)
                                                        </td>
                                                        <td class="view-message inbox-small-cells"></td>
                                                        <td class="view-message text-right">8 Dic</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td class="inbox-small-cells">
                                                            <input type="checkbox" class="mail-checkbox">
                                                        </td>
                                                        <td class="inbox-small-cells"><mat-icon style="color: #ffbf00;">star</mat-icon>
                                                        <td class="view-message dont-show">AliExpress
                                                        </td>
                                                        <td class="view-message">Los artículos que todo el mundo adora  </td>
                                                        <td class="view-message inbox-small-cells"></td>
                                                        <td class="view-message text-right">4 Dic</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td class="inbox-small-cells">
                                                            <input type="checkbox" class="mail-checkbox">
                                                        </td>
                                                        <td class="inbox-small-cells"><mat-icon style="color: #D9D9D9;">star</mat-icon>
                                                        <td class="view-message dont-show">
                                                            Flaticon </td>
                                                        <td class="view-message">¡Te enviamos nuestros mejores deseos e iconos de Año Nuevo!</td>
                                                        <td class="view-message inbox-small-cells"><mat-icon>attachment</mat-icon>
                                                        <td class="view-message text-right">2 Dic</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td class="inbox-small-cells">
                                                            <input type="checkbox" class="mail-checkbox">
                                                        </td>
                                                        <td class="inbox-small-cells"><mat-icon style="color: #D9D9D9;">star</mat-icon>
                                                        <td class="view-message dont-show">
                                                            Canva </td>
                                                        <td class="view-message">Es hora de celebrar con el #CanvaDesignChallenge de esta semana</td>
                                                        <td class="view-message inbox-small-cells">
                                                        <td class="view-message text-right">29 Nov</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td class="inbox-small-cells">
                                                            <input type="checkbox" class="mail-checkbox">
                                                        </td>
                                                        <td class="inbox-small-cells"><mat-icon style="color: #D9D9D9;">star</mat-icon>
                                                        <td class="view-message dont-show">
                                                            Epic Games </td>
                                                        <td class="view-message">Epic Games - Email Verification</td>
                                                        <td class="view-message inbox-small-cells"><mat-icon>attachment</mat-icon>
                                                        <td class="view-message text-right">24 Nov</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td class="inbox-small-cells">
                                                            <input type="checkbox" class="mail-checkbox">
                                                        </td>
                                                        <td class="inbox-small-cells"><mat-icon style="color: #ffbf00;">star</mat-icon>
                                                        <td class="view-message dont-show">
                                                            Figma </td>
                                                        <td class="view-message">You have a week to restore your team "UX"</td>
                                                        <td class="view-message inbox-small-cells">
                                                        <td class="view-message text-right">20 Nov</td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>