<div class="wrapper">
    <div class="cards_wrap">

        <div class="card_item">
            <div class="card_inner">
                <img src="assets/img/burger1.jpg">
                <div class="role_name">Hamburguesas Mexicana</div>
                <div class="price">$259</div>
                <div class="film">
                    Nuestra Mexican Burger con una mezcla de quesos cheddar y mozzarella, y tocino ahumado. En un pan Kaiser tostado.
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd" >Añadir al carrito</button>
                    <button type="button" class="btnAdd">Ver detalles</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner">
                <img src="assets/img/burger1.jpg">
                <div class="role_name">Hamburguesas Mexicana</div>
                <div class="price">$259</div>
                <div class="film">
                    Nuestra Mexican Burger con una mezcla de quesos cheddar y mozzarella, y tocino ahumado. En un pan Kaiser tostado.
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner">
                <img src="assets/img/burger1.jpg">
                <div class="role_name">Hamburguesas Mexicana</div>
                <div class="price">$259</div>
                <div class="film">
                    Nuestra Mexican Burger con una mezcla de quesos cheddar y mozzarella, y tocino ahumado. En un pan Kaiser tostado.
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>


        <div class="card_item">
            <div class="card_inner">
                <img src="assets/img/burger1.jpg">
                <div class="role_name">Hamburguesas Mexicana</div>
                <div class="price">$259</div>
                <div class="film">
                    Nuestra Mexican Burger con una mezcla de quesos cheddar y mozzarella, y tocino ahumado. En un pan Kaiser tostado.
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner">
                <img src="assets/img/burger1.jpg">
                <div class="role_name">Hamburguesas Mexicana</div>
                <div class="price">$259</div>
                <div class="film">
                    Nuestra Mexican Burger con una mezcla de quesos cheddar y mozzarella, y tocino ahumado. En un pan Kaiser tostado.
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner">
                <img src="assets/img/burger1.jpg">
                <div class="role_name">Hamburguesas Mexicana</div>
                <div class="price">$259</div>
                <div class="film">
                    Nuestra Mexican Burger con una mezcla de quesos cheddar y mozzarella, y tocino ahumado. En un pan Kaiser tostado.
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner">
                <img src="assets/img/burger1.jpg">
                <div class="role_name">Hamburguesas Mexicana</div>
                <div class="price">$259</div>
                <div class="film">
                    Nuestra Mexican Burger con una mezcla de quesos cheddar y mozzarella, y tocino ahumado. En un pan Kaiser tostado.
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner">
                <img src="assets/img/burger1.jpg">
                <div class="role_name">Hamburguesas Mexicana</div>
                <div class="price">$259</div>
                <div class="film">
                    Nuestra Mexican Burger con una mezcla de quesos cheddar y mozzarella, y tocino ahumado. En un pan Kaiser tostado.
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner">
                <img src="assets/img/burger1.jpg">
                <div class="role_name">Hamburguesas Mexicana</div>
                <div class="price">$259</div>
                <div class="film">
                    Nuestra Mexican Burger con una mezcla de quesos cheddar y mozzarella, y tocino ahumado. En un pan Kaiser tostado.
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner">
                <img src="assets/img/burger1.jpg">
                <div class="role_name">Hamburguesas Mexicana</div>
                <div class="price">$259</div>
                <div class="film">
                    Nuestra Mexican Burger con una mezcla de quesos cheddar y mozzarella, y tocino ahumado. En un pan Kaiser tostado.
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

    </div>
</div>
