<div class="wrapper">
    <div class="cards_wrap">

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/burger1.jpg">
                <div class="role_name">Hamburguesa Mexicana</div>
                <div class="price">$259</div>
                <div class="film">
                    Nuestra Mexican Burger con una mezcla de quesos cheddar y mozzarella...
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd" >Añadir al carrito</button>
                    <button type="button" class="btnAdd">Ver detalles</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/Hambugersa.jfif">
                <div class="role_name">Burger Supreme</div>
                <div class="price">$299</div>
                <div class="film">
                    Súper hamburguesa con 340gr de carne, vegetales frescos...
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/burrito.jpg">
                <div class="role_name">Burrito Mexicano</div>
                <div class="price">$259</div>
                <div class="film">
                    Tortilla de harina que envuelve deliciosa carne cocinada con especias...
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>


        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/pizza.jpg">
                <div class="role_name">Pizza de Pepperoni</div>
                <div class="price">$200</div>
                <div class="film">
                    Medida familiar de 30 cm con queso y rodajas de pepperoni, incluye bebidad de...
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/hotdog.png">
                <div class="role_name">Hot-dog sencillo</div>
                <div class="price">$120</div>
                <div class="film">
                    Con 15 dm de slachicha, acompañados en verdra fresca, frijoles...
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/Nuggets.jfif">
                <div class="role_name">Orden de nuggets</div>
                <div class="price">$259</div>
                <div class="film">
                    Orden con 12 nuggets de pollo, freidas en aceite y acompañadas de adereso...
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/papas.jpg">
                <div class="role_name">Orden de papas</div>
                <div class="price">$59</div>
                <div class="film">
                    Papas a la francesa en una orden de 300gr servidas con aderesos...
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/alitas.jpg">
                <div class="role_name">Orden de alitas</div>
                <div class="price">$100</div>
                <div class="film">
                    7 alitas fritas bañadas en salsa BBQ, servida con aderesos...
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/banderillas.jpg">
                <div class="role_name">Orden de banterillas</div>
                <div class="price">$159</div>
                <div class="film">
                    2 banderillas de salchicha bañadas en una exquisita masa...
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/bonneles.jpg">
                <div class="role_name">Orden de Bonneles</div>
                <div class="price">$189</div>
                <div class="film">
                    Orden de 10 bonneles bañados en una salsa a escoger y sercidos...
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

    </div>
</div>
