<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="wrapper">
    <div class="cards_wrap" >

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/burger1.jpg">
                <div class="role_name">Hamburguesa Mexicana</div>
                <div class="price">$259</div>
                <div class="film">
                    Nuestra Mexican Burger con una mezcla de quesos cheddar y mozzarella...
                </div>
                <div class="containerBtn" >
                    <button type="button" class="btnAdd" >Añadir al carrito</button>
                    <button type="button" class="btnAdd"  data-bs-toggle="modal" data-bs-target="#exampleModal">Ver detalles</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/Hambugersa.jfif">
                <div class="role_name">Burger Supreme</div>
                <div class="price">$299</div>
                <div class="film">
                    Súper hamburguesa con 340gr de carne, vegetales frescos...
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                    <button type="button" class="btnAdd">Ver detalles</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/burrito.jpg">
                <div class="role_name">Burrito Mexicano</div>
                <div class="price">$259</div>
                <div class="film">
                    Tortilla de harina que envuelve deliciosa carne cocinada con especias...
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>


        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/pizza.jpg">
                <div class="role_name">Pizza de Pepperoni</div>
                <div class="price">$200</div>
                <div class="film">
                    Medida familiar de 30 cm con queso y rodajas de pepperoni, incluye bebidad de...
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/hotdog.png">
                <div class="role_name">Hot-dog sencillo</div>
                <div class="price">$120</div>
                <div class="film">
                    Con 15 dm de slachicha, acompañados en verdra fresca, frijoles...
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/Nuggets.jfif">
                <div class="role_name">Orden de nuggets</div>
                <div class="price">$259</div>
                <div class="film">
                    Orden con 12 nuggets de pollo, freidas en aceite y acompañadas de adereso...
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/papas.jpg">
                <div class="role_name">Orden de papas</div>
                <div class="price">$59</div>
                <div class="film">
                    Papas a la francesa en una orden de 300gr servidas con aderesos...
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/alitas.jpg">
                <div class="role_name">Orden de alitas</div>
                <div class="price">$100</div>
                <div class="film">
                    7 alitas fritas bañadas en salsa BBQ, servida con aderesos...
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/banderillas.jpg">
                <div class="role_name">Orden de banterillas</div>
                <div class="price">$159</div>
                <div class="film">
                    2 banderillas de salchicha bañadas en una exquisita masa...
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/bonneles.jpg">
                <div class="role_name">Orden de Bonneles</div>
                <div class="price">$189</div>
                <div class="film">
                    Orden de 10 bonneles bañados en una salsa a escoger y sercidos...
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd">Añadir al carrito</button>
                </div>
            </div>
        </div>

        
    </div>
    <div class="container">
        <!-- modalDetail -->
        <div class="modal fade fontStyles" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" style="position: relative;">
                        <button type="button" class="btnCloseDetails" data-bs-dismiss="modal" aria-label="Close">X</button>
                        <div class="col-12 col-md-4 d-flex align-items-center">
                            <div id="carouselDetails" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselDetails" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselDetails" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselDetails" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner carouselSpace d-flex align-items-center">
                                <div class="carousel-item active" data-bs-interval="2000" style="object-fit: contain;">
                                <img src="assets/img/detail1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                <img src="assets/img/detail2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                <img src="assets/img/detail3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselDetails" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselDetails" data-bs-slide="next">
                                <span class="carousel-control-next-icon shadowControllers" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="row">
                                <div class="col-12">
                                    <h2>HAMBURGUESA MEXICANA</h2>
                                </div>
                                <div class="col-12 ">
                                    <div id="detailDescription">
                                    <span>
                                        Nuestra Mexican Burger con una mezcla de quesos cheddar y mozzarella. 
                                        ¡Olvídate por completo de la dieta!
                                        Si quieres un fin de semana lleno de sabor, esta es la opción perfecta para ti.
                                        <br><br>
                                        Ingredientes:<br>
                                        carne molida<br>
                                        huevos<br>
                                        cebolla picada<br>
                                        lechuga italiana<br>
                                        jitomate rebanado<br>
                                        cebolla morada en rodajas<br>
                                        láminas de queso cheddar<br>
                                        chiles jalapeños rebanados<br>
                                        1/2 taza de guacamole<br>
                                        piezas de pan de hamburguesa

                                    </span>
                                    </div>
                                </div>
                                <div class="col-12 my-4">
                                    <div class="row">
                                        <div class="col-3">
                                            <span class="muted">$200.0</span>
                                            <span style="display: inline;">$170.0 <p style="display: inline;" class="redColor">-15%</p></span>
                                        </div>
                                        <div class="offset-3 col-6">
                                            <label class="col-12 labelTitulo">Cantidad<p style="display: inline;" class="redColor">*</p></label>
                                            <select class="col-12 inputFormBasic" aria-label="size 3 select example" required>
                                                <option selected value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-grid gap-2 d-sm-flex justify-content-end">
                                    <button type="submit" class="btn buttonconfirmar">
                                        <div class="d-flex align-items-center"style="margin: 0; color: #fff;">
                                            <mat-icon style="overflow: visible;">payment</mat-icon>
                                            Comprar ya
                                        </div>
                                    </button>
                                    <button type="submit" class="btn buttonconfirmar">
                                        <div class="d-flex align-items-center"style="margin: 0; color: #fff;">
                                            <mat-icon style="overflow: visible;">shopping_cart</mat-icon>
                                                Añadir
                                        </div>
                                    </button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>