<img src="assets/img/Vector 1.png" id="side1" >
<img src="assets/img/Vector 2.png" id="side2" >
<div class="container-fluid backgroundErrorUserBurger">
    <div class="row">
        <div class="offset-1 col-10 col-md-4 offset-md-1 text-center d-flex align-items-center " style="height: 91vh; position: relative;" >
            <div class=" pt-0" id="responsiveLand">
                <p>Try out our</p>
                <p style="color: #FFBF00;">Space Burgers!</p>

            </div>
            <p id="onlyAt">Only at:</p>
            <p id="spFood">SpringFood</p>

            <img src="assets/img/burgerShot.png" id="burger" >
        </div>
    </div>
</div>

<br>

<div class="container-fluid">
    <div class="row">
        <div class="offset-1 col-10 col-md-4 offset-md-1 text-center d-flex align-items-center " style="height: 91vh; position: relative;" >
            <div class=" pt-0" id="responsiveLand2">
                <p>Taste from</p>
                <p style="color: #FFBF00;">another world...</p>
            </div>
            <img src="assets/img/tasteFor.png" id="tasteFor" >
        </div>
    </div>
</div>







