<div class="container-fluid">  
    <div class="row ">
      <div class="col-sm-4 mt-5">
        <div class="card text-center h-100 cardshadow">
          <div class="card-body">
            <h2 class="primer-pricing">Básico</h2>
            <h3 class="precio-pricing">250.00 MX$</h3>
            <small class="promo">*Acompañado de un niño*</small>
            <br />
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <th class="" scope="row">
                      <i class="material-icons">restaurant</i>
                    </th>
                    <td class="elemento">2 Hamburguesas clásicas</td>
                  </tr>
                  <tr>
                    <th class="" scope="row">
                      <i class="material-icons">restaurant</i>
                    </th>
                    <td class="elemento">
                      3 piezas de hand breaded chicken tenders
                    </td>
                  </tr>
                  <tr>
                    <th class="" scope="row">
                      <i class="material-icons">restaurant</i>
                    </th>
                    <td class="elemento">Un Hot dog con tocino frito</td>
                  </tr>
                  <tr>
                    <th class="" scope="row">
                      <i class="material-icons">restaurant</i>
                    </th>
                    <td class="elemento">Ensalada de zanahoria para botanear</td>
                  </tr>
                  <tr>
                    <th class="" scope="row">
                      <i class="material-icons">restaurant</i>
                    </th>
                    <td class="elemento">Tarta de queso</td>
                  </tr>
                  <tr>
                    <th class="elemento-sorpresa" scope="row">
                      <i class="material-icons">redeem</i>
                    </th>
                    <td class="elemento">
                      Incluye un código de descuento en tu próxima compra
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <button type="button" class="btn btn-primer-pricing">Comenzar</button>
        </div>
      </div>
  
      <div class="col-sm-4 mt-5">
        <div class="card text-center h-100 cardshadow">
          <div class="card-body">
            <h2 class="segundo-pricing">Popular</h2>
            <h3 class="precio-pricing">350.00 MX$</h3>
            <small class="promo">*Con tarjeta de cliente frecuente*</small>
            <br />
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <th class="" scope="row">
                      <i class="material-icons">restaurant</i>
                    </th>
                    <td class="elemento">
                      Combo de 10 alitas con salsa de mango
                    </td>
                  </tr>
                  <tr>
                    <th class="" scope="row">
                      <i class="material-icons">restaurant</i>
                    </th>
                    <td class="elemento">Combo boneless de 10 pzas</td>
                  </tr>
                  <tr>
                    <th class="" scope="row">
                      <i class="material-icons">restaurant</i>
                    </th>
                    <td class="elemento">
                      Una orden de papas a la francesa con queso extra
                    </td>
                  </tr>
                  <tr>
                    <th class="" scope="row">
                      <i class="material-icons">restaurant</i>
                    </th>
                    <td class="elemento">Nachos clásicos con queso</td>
                  </tr>
                  <tr>
                    <th class="" scope="row">
                      <i class="material-icons">restaurant</i>
                    </th>
                    <td class="elemento">Helado triple chocolate</td>
                  </tr>
                  <tr>
                    <th class="elemento-sorpresa" scope="row">
                      <i class="material-icons">redeem</i>
                    </th>
                    <td class="elemento">
                      Incluye un cupón 2x1 en tu próxima compra
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <button type="button" class="btn btn-segundo-pricing">Comenzar</button>
        </div>
      </div>
  
      <div class="col-sm-4 mt-5">
          <div class="card text-center h-100 cardshadow">
            <div class="card-body">
              <h2 class="tercer-pricing">Especial</h2>
              <h3 class="precio-pricing">450.00 MX$</h3>
              <small class="promo">*Solo reservando mesa familiar*</small>
              <br />
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <th class="" scope="row">
                        <i class="material-icons">restaurant</i>
                      </th>
                      <td class="elemento">Pizza familiar de dos sabores (a elegir)</td>
                    </tr>
                    <tr>
                      <th class="" scope="row">
                        <i class="material-icons">restaurant</i>
                      </th>
                      <td class="elemento">
                        2 Hamburguesas con tocino
                      </td>
                    </tr>
                    <tr>
                      <th class="" scope="row">
                        <i class="material-icons">restaurant</i>
                      </th>
                      <td class="elemento">Ensalada de la casa</td>
                    </tr>
                    <tr>
                      <th class="" scope="row">
                        <i class="material-icons">restaurant</i>
                      </th>
                      <td class="elemento">Una orden de papas curly</td>
                    </tr>
                    <tr>
                      <th class="" scope="row">
                        <i class="material-icons">restaurant</i>
                      </th>
                      <td class="elemento">Six de cerveza</td>
                    </tr>
                    <tr>
                      <th class="elemento-sorpresa" scope="row">
                        <i class="material-icons">redeem</i>
                      </th>
                      <td class="elemento">
                        Incluye un postre especial y otra reservación
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <button type="button" class="btn btn-tercer-pricing">Comenzar</button>
          </div>
        </div>
  
  
    </div>
  </div>
  