<div class="p-grid p-fluid">
  <!-- Header -->
  <div class="p-col-12 p-md-12 p-lg-12" style="z-index: 10;">
      <app-header>
      </app-header>
  </div>
  <!-- principal View -->
  <div class="p-col-12 p-md-12 p-lg-12" style="z-index: 0;">
      <router-outlet name="steps"></router-outlet>
  </div>

  <div>
    <app-forms>
        
    </app-forms>
  </div> 
  <!--<div>
    <app-checkout>
        
    </app-checkout>
  </div>-->
  <!-- Footer -->
  <!-- mientras
    <div class="footer">
      <app-footer>
      </app-footer>
  </div>
-->
</div>
