<!-- Minified Bootstrap CSS
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!-- Minified JS library
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!-- Minified Bootstrap JS
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
-->

<div>
    <div class="card; cardshadow" style="border-color: black; border-radius: 0;" id="secundario">
        <br>
        <div class="header" style="padding-top: 1%; padding-left: 5%;">
            <h4 class="title" style="font-weight: bold; font-family: 'Montserrat';">Mi perfil</h4>
        </div>
        <div style="padding-left:43%; padding-right: 42%;">
            <img class="circular--square" src="assets/img/gatito.png" />
        </div>
        <br>
        <div class="content" style="padding-left: 5%; padding-right: 5%;">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="fontlabel" style="border-color: black;">Nombre</label>
                            <input type="text" class="form-control" placeholder="Username" value="Francisco Javier García Espinoza" style="border-color: black; border-width: 10%; background-color: #D9D9D9;" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="fontlabel">Correo</label>
                            <input type="email" class="form-control" placeholder="Email" value="20203TN021@utez.edu.mx" style="border-color: black; border-width: 10%; background-color: #D9D9D9;" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="fontlabel">Télefono</label>
                            <input type="text" class="form-control" placeholder="Phone number" value="7772315540" style="border-color: black; border-width: 10%; background-color: #D9D9D9;" required>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="fontlabel">Cumpleaños</label>
                            <select class="form-select" style="border-color: black; border-width: 10%; background-color: #D9D9D9;" required>
                                <option selected disabled  value="">Day...</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label></label>
                            <select class="form-select" style="border-color: black; border-width: 10%; background-color: #D9D9D9;" required>
                                <option selected disabled  value="">Month...</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label></label>
                            <select class="form-select" style="border-color: black; border-width: 10%; background-color: #D9D9D9;" required>
                                <option selected disabled  value="">Year...</option>
                                <option value="1">2022</option>
                                <option value="2">2021</option>
                                <option value="3">2020</option>
                                <option value="4">2019</option>
                                <option value="5">2018</option>
                                <option value="6">2017</option>
                                <option value="7">2016</option>
                                <option value="8">2015</option>
                                <option value="9">2014</option>
                            </select>
                        </div>
                    </div>

                </div>

                <br>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="fontlabel">Genero</label>
                            <select class="form-select" style="border-color: black; border-width: 10%; background-color: #D9D9D9;" required>
                                <option selected disabled value="">Select your gender...</option>
                                <option value="1">Male</option>
                                <option value="2">Famele</option>
                                <option value="3">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="fontlabel">Código postal</label>
                            <input type="text" class="form-control" placeholder="ZIP Code" value="62588" style="border-color: black; border-width: 10%; background-color: #D9D9D9;" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="fontlabel">País</label>
                            <input type="text" class="form-control" placeholder="Country" value="México" style="border-color: black; border-width: 10%; background-color: #D9D9D9;" required>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="fontlabel">Dirección</label>
                            <input type="text" class="form-control" placeholder="Home Address" value="Constitución No. 1 Cuernavaca, MOR" style="border-color: black; border-width: 10%; background-color: #D9D9D9;" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="fontlabel">Ciudad</label>
                            <input type="text" class="form-control" placeholder="City" value="Puebla" style="border-color: black; border-width: 10%; background-color: #D9D9D9;" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="fontlabel">Cambiar contraseña</label>
                            <input type="password" class="form-control" placeholder="*******" value="password" style="border-color: black; border-width: 10%; background-color: #D9D9D9;" required>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <br>
                            <button type="button" class="btn btn-success form-control; " style="color: black; border-color: black; border-width: 10%;">Confirmar</button>
                        </div>
                    </div>
                </div>

                <br>
                <div style="padding-left:43%; padding-right: 42%;">
                    <button type="submit" class="btn btn-warning btn-fill pull-right; btnshadow;" style="color: white; font-weight: 550;" >Guardar cambios</button>
                </div>

                <br>

                <div class="clearfix"></div>

            </form>

        </div>
    </div>
</div>

