.circular--square {
    border-radius: 50%;
    width: 90%;
    height: 90%;
  }

#secundario {
    margin-top:2.3%;
    margin-left: 10%;
    margin-right: 10%;
}

.btnshadow {
  box-shadow: 4px 4px 6px .5px rgba(0,0,0,0.3);
}

.cardshadow {
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
  border-radius: 3px !important;
}

.fontlabel {
  font-weight: 1000;
  font-family: 'Montserrat';
}
