<div class="container-fluid">
  <div class="row">
    <!-- Card del formulario -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body " id="cardforms">
          <h1 class="tituloForms">Formulario basico</h1>
          <label class="col-12" id="labelTitulo"> Nombre de Usuario</label>
          <input class="col-12" id="inputFormBasic" type="text" placeholder="Alan Borjes">
          <label class="col-12" id="labelTitulo"> Correo electronico </label>
          <input class="col-12" id="inputFormBasic" type="text" placeholder="AlanBorjes@gmail.com">
          <label class="col-12" id="labelTitulo"> Contraseña</label>
          <input class="col-12" id="inputFormBasic" type="text" placeholder="***************">
          <div class="col-12">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Recordar contraseña
            </label>
          </div>
          <div class="col-12 align-self-center">
            <button type="submit" class="btn buttonconfirmar">
              <p id="labelTitulo" style="margin: 0; padding:7px; color: #fff;">Guardar</p>
            </button>
            <button type="submit" class="btn buttoncancelar ">
              <p id="labelTitulo" style="margin: 0; padding:7px; color: #000;">Cancelar</p>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body " id="cardforms">
          <h1 class="tituloForms">Formulario Horizontal</h1>
          <label class="col-4" id="labelTituloHorizontal"> Nombre de Usuario</label>
          <input class="col-7" id="inputFormHorizontal" type="text" placeholder="Alan Borjes">
          <label class="col-4" id="labelTituloHorizontal"> Correo electronico </label>
          <input class="col-7" id="inputFormHorizontal" type="text" placeholder="AlanBorjes@gmail.com">
          <label class="col-4" id="labelTituloHorizontal"> Numero Celular</label>
          <input class="col-7" id="inputFormHorizontal" type="text" placeholder="***************">
          <label class="col-4" id="labelTituloHorizontal"> Contraseña</label>
          <input class="col-7" id="inputFormHorizontal" type="text" placeholder="***************">
          <div class="col-12">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Recordar contraseña
            </label>
          </div>
          <div class="col-12 align-self-center">
            <button type="submit" class="btn buttonconfirmar">
              <p id="labelTitulo" style="margin: 0; padding:7px; color: #fff;">Guardar</p>
            </button>
            <button type="submit" class="btn buttoncancelar ">
              <p id="labelTitulo" style="margin: 0; padding:7px; color: #000;">Cancelar</p>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="ZonaInputs">
      <div class="card" id="cardInputs">
        <div class="card-body " id="cardforms">
          <h1 class="tituloForms">Formulario Horizontal</h1>

        </div>
      </div>
    </div>
  </div>
</div>