<div class="container-fluid backgroundErrorUser">
    <div class="row">
        <div class="offset-1 col-10 col-md-4 offset-md-1 text-center d-flex align-items-center " style="height: 91vh; position: relative;" >
            <div class=" pt-0" id="errorDiv">
                <span>Error</span>
                <h2>404</h2>
                <p class="mt-4">Recurso no encontrado</p>
                <hr class="mx-auto">
                <p class="mb-4">El recurso al que intentas acceder no se encuentra disponible o fue eliminado</p>
                <button type="button" class="btn btn-outline-warning">Regresar</button>
            </div>
            <img src="assets/img/errorAstronaut.png" id="astronaut" >
        </div>
    </div>
</div>
