<div class="wrapper">
    <div class="cards_wrap">

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/coca.jpg">
                <div class="role_name">Coca-cola</div>
                <div class="price">$39</div>
                <div class="film">
                    Lata de Coca-cola de 355ml
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd"   (click)="addCarrito()">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/coccalit.jpg">
                <div class="role_name">Coca-cola light</div>
                <div class="price">$39</div>
                <div class="film">
                    Lata de Coca-cola light de 355ml
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd"  (click)="addCarrito()">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/jugo.png">
                <div class="role_name">Jugo de naranja</div>
                <div class="price">$39</div>
                <div class="film">
                    Jugo de naranjada natural 380ml
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd"  (click)="addCarrito()">Añadir al carrito</button>
                </div>
            </div>
        </div>


        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/limonada.png">
                <div class="role_name">Limonada</div>
                <div class="price">$50</div>
                <div class="film">
                    Bebida de preparada con agua mineral y limón 500ml
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd"  (click)="addCarrito()">Añadir al carrito</button>

                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/naranjada.jpg">
                <div class="role_name">Naranjada</div>
                <div class="price">$50</div>
                <div class="film">
                    Bebida de preparada con agua mineral y naranja 500ml
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd"  (click)="addCarrito()">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/te.jpg">
                <div class="role_name">Té helado</div>
                <div class="price">$59</div>
                <div class="film">
                    Té helado en presentación de 400ml
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd"  (click)="addCarrito()">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/viki.jpg">
                <div class="role_name">Cerveza Victoria</div>
                <div class="price">$49</div>
                <div class="film">
                    Lata helada de cerveza Victoria 355ml
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd"  (click)="addCarrito()">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/corona.png">
                <div class="role_name">Cerveza Corona</div>
                <div class="price">$49</div>
                <div class="film">
                    Lata helada de cerveza Corona 355ml
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd"  (click)="addCarrito()">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/mojito.jpg">
                <div class="role_name">Mojito</div>
                <div class="price">$100</div>
                <div class="film">
                    Mojito Natural 1 litro
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd"  (click)="addCarrito()">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="card_item">
            <div class="card_inner h-100">
                <img src="assets/img/agua.jfif">
                <div class="role_name">Agua natural</div>
                <div class="price">$29</div>
                <div class="film">
                    Agua ciel natural de 1 litro
                </div>
                <div class="containerBtn">
                    <button type="button" class="btnAdd"  (click)="addCarrito()">Añadir al carrito</button>
                </div>
            </div>
        </div>
    </div>

</div>
